
body, html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
