$primary-color: #ed4f15;
$secondary-color: #f0a500;
$white-color: #ffffff;
$text-color: #222831;
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);


.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 15px;

    .logo {
        max-width: 120px;
    }

    .custom-link {
        color: $white-color;
        text-decoration: none;
        margin: 0 10px;
        font-size: 14px;

        &:hover {
            color: $secondary-color;
        }
    }

    .custom-button {
        font-size: 12px;
        padding: 5px 10px;
        background-color: $secondary-color;
        color: $white-color;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgba($secondary-color, 0.6);
        }
    }

    .dropdown-menu {
        background-color: $white-color;

        .dropdown-item {
            color: $text-color;

            &:hover {
                background-color: $secondary-color;
                color: $white-color;
            }
        }
    }

    .small-input {
        font-size: 12px;
    }
}

.bi {
    cursor: pointer;
}

//kullanıcı ismi ve soyismi
.information {
    font-size: 16px;
    font-weight: bold;
    color: $text-color;
    margin: 10px;
}




@media (max-width: 768px) {
    .header {
        .custom-link {
            font-size: 12px;
        }

        .logo {
            max-width: 100px;
        }

        .custom-button {
            font-size: 10px;
        }

        .small-input {
            font-size: 10px;
        }
    }
}