$background-color: #f4f2f2;
$font-family: 'Arial', sans-serif;
$card-bg-color: #fbfafa;
$card-hover-bg-color: #f5f7fa;
$card-border-color: #ece9e9;
$text-color: #555;

body {
    background-color: $background-color;
    font-family: $font-family;
}


h2 {
    font-family: $font-family;
    color: #333;
    letter-spacing: 0.5px;
    margin: 1.5rem 0;
    text-align: center;
}

#campaigns {
    $primary-bg: #fbfafa;
    $primary-color: black;
    $accent-color: #ed4f15;
    $btn-bg: #ed4f15;
    $btn-hover-bg: #ed4f15;

    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        margin: auto;
    }

    /*Sizin için seçtiklerimiz slider kodları*/
    .campaign-card {
        background-color: $primary-bg;
        color: $primary-color;
        border-radius: 15px;
        text-align: center;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 4px solid $accent-color;
        }

        .campaign-title {
            font-size: 1.2rem;
            margin: 10px 0;

        }

        .discount {
            font-size: 2rem;
            font-weight: bold;
            color: $accent-color;
        }

        .campaign-text {
            font-size: 0.9rem;
            font-style: italic;
        }

        .btn-campaign {
            background-color: $btn-bg;
            color: $primary-bg;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 15px;
            cursor: pointer;

            &:hover {
                background-color: $btn-hover-bg;
                color: $primary-color;
            }
        }
    }
}



.card-body {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-body:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

img:hover {

    cursor: pointer;

}

.text-center {
    font-size: 10rv;
    margin-bottom: 10px;
}

.card-body-body p {
    font-size: 16px;
    color: #555;
}

.card-body-body .btn {
    margin-top: 10px;
}



#hero {
    color: #ed4f15;
    font-family: fantasy;
    font-weight: bold;
}

#hero img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-radius: 20px;

}


/* Kartlar arası boşluk ve hizalama */
.best .card {
    margin: 10px;
    text-align: center;
}


/* Popup için ana stil */
.popup {
    display: none; // Varsayılan olarak gizli
    position: fixed;
    top: 45%;
    left: 5%; // Pozisyon ayarı
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 10 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 26rem;
    max-width: 90%; // Genişlik sınırı
    margin: 0; // Kenar boşluğu
    transition: transform 0.3s ease, z-index 0.3s ease, box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease;


    &:hover {
        z-index: 10;
        transform: translateY(-50%) scale(1.1); // Hover animasyonu
        box-shadow: 10px 15px 15px rgba(83, 81, 81, 0.86);
        width: 45rem;
        height: auto;

    }


    img {
        max-width: 100%;
        border-color: #ed4f15;

    }

    .popup-content {
        padding: 5px;
        background: rgb(24, 24, 24);
        border: 1px solid #110e0e;
        border-radius: 5px;

    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 20%;
        background: red;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    .uyeol-btn {
        background-color: #ed4f15;
        color: white;
        padding: 0px 10px;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;

    }


}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* Responsive görüntü */
@media (max-width: 768px) {
    .best .card {
        flex: 0 0 45%;
    }

    .popup {
        width: 90%;
        /* Mobilde genişlik */
    }
}

@media (max-width: 576px) {
    .best .card {
        flex: 0 0 100%;
    }

    .popup {
        width: 100%;
        /* Daha küçük cihazlar için tam genişlik */
    }
}